<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao Login</title>
</head>
<body>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=b982114262092d4b590184cadc62bbfb&redirect_uri=http://localhost:8080/receiveAC">
    요청 URI
</a>
</body>
</html>