<html>
<head>
    <meta charset="UTF-8">
    <title>Kakao Login</title>
</head>
<body>
<h2>이메일</h2>
<p>{{email}}</p><br>

<h2>로그아웃</h2>
<a href="https://kauth.kakao.com/oauth/logout?client_id=b982114262092d4b590184cadc62bbfb&logout_redirect_uri=http://localhost:8080/receiveAC">로그아웃</a>
</body>
</html>